<h1>Logowanie do sytemu Petriage : </h1><br/>
<form asp-action="Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">Login</button>
</form>